.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.test-items {
  color: white;
  display: inline;
  padding-left: 5px;
  font-size: 30px;
}

.nav-items {
  float: right;
  color: white;
  padding: 5px;
}

.first-image {
  width: 100%;
  height: 30em;
  padding-right: 5px;
}

.first-form {
  background: #EBE4E4;
}

.first-form {
  margin: 20px 20px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.form-control {
  margin: 10px 10px;
}

.first-form-button {
  margin: 10px 10px;
  padding: 10px 10px;
  background: red;
  color: white;
}

.selectcar-btns {
  float: right;
  margin-right: 10px;
}

.car-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5%;
}

.car1-image {
  height: 25em;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  padding-top: 10px;
}

.car-divs {
  position: relative;
  display: inline-block;
  margin: 0 5%;
  border: 2px solid #EBE4E4;
  border-radius: 25px;
  margin: 10px 10px;
  background: #EBE4E4;
}

.car-price-title {
  color: white;
  text-align: center;
}

.car-divs .car-price-div {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 58%;
  /* Adjust this value to move the positioned div up and down */
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  font-family: Arial, sans-serif;
  width: 100%;
  /* Set the width of the positioned div */
}

.car-selection-image {
  display: block;
  height: 25em;
  width: 100%;
  border-radius: 25px;
}

.cartype {
  margin-left: 10%;
}

.car-info-p {
  margin-left: 10%;
}

i {
  padding-left: 10%;
}

.car-info {
  display: inline;
  padding-left: 10px;
}

.numbered-btns {
  margin-top: 15px;
  text-align: center;
}

.business-section-div {
  background: grey;
  margin: 5% 5%;
  padding: 2% 2%;
}

.business-section {
  margin-top: 5%;
  text-align: center;
}

.business-numbers {
  display: inline;
  padding: 10px 125px;
  font-size: 30px;
}

.business-info-section {
  margin-top: 10px;
  text-align: center;
}

.business-info {
  display: inline;
  padding: 10px 8%;
}

.latest-cars-section {
  text-align: center;
}

.latest-title {
  text-align: center;
}

.car-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10%;
}

.car-article-img {
  display: block;
  height: 25em;
  width: 100%;
  border-radius: 25px;
}

.car-article-one {
  margin: 0 5%;
  text-align: center;
  border: 2px solid #EBE4E4;
  border-radius: 25px;
}

h4 {
  text-align: center;
}

.first-car-article {
  text-align: center;
  padding: 0 10%;
  color: grey;
}

.author {
  text-align: center;
  border-top: 2px solid grey;
  padding-top: 10px;
  color: grey;
}

.vehicle-submit {
  margin-top: 5%;
  text-align: center;
  color: red;
  padding: 10px 10px;
  border: 2px solid red;
}

.contact-section {
  margin-top: 5%;
  background: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-info {
  margin-left: 5%;
}

.contact-title {
  color: white;
}

.contact-para {
  color: white;
  margin: 0;
}

.hours-info {
  color: white;
}

input {
  padding: 10px 0;
  margin: 0;
}

.email-button {
  color: white;
  background: red;
  padding: 10px 10px;
  margin-left: 0;
}

.spam-info {
  color: white;
}

footer {
  color: white;
  background: black;
  width: 100%;
  padding: 10px 10px;
}

/*# sourceMappingURL=main.css.map */
